{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/style/landing.css">
{% endblock %}

{% block body %}
    <div class="parallax intro">
    <div class="row separador"></div>
    <img class="logoCentrado" src="https://static.wixstatic.com/media/bb2d79_d249037129fe445caa05604ead81cbc1~mv2.png" alt="logo">
        <div class="caption"style="font-weight: bold;">
            <span class="border2">Portal dedicado a la Intermediación de Servicios de Salud Mental</span>
        </div>
        <div class="caption">
            <span class="border1">Luchemos juntos contra la Depresión</span>
        </div>
        <div class="botonazos">
            <a href="https://www.facebook.com/Contraazul/" target="_blank"><img class="fbicon animatable fadeInUp" src="https://static.wixstatic.com/media/e0678ef25486466ba65ef6ad47b559e1.png" alt="facebook"></a>
            <a href="https://instagram.com/contra.azul?igshid=ah4p3l6j142m" target="_blank"><img class="fbicon animatable fadeInUp" src="https://static.wixstatic.com/media/da7ef6dd1302486c9a67baebe4b364bc.png" alt="instagram"></a>
        </div>
    </div>

      <div class="parallax servicios">
      <div class="row separador"></div>
      
        <div class="caption animatable fadeInUp">
        <h2>SERVICIOS</h2>
            {# <span class=""style="font-weight: bold;">____</span> #}
            <hr style="width: 95px;height: 2px;background-color:white;">
        </div>
        <br>
        <div class="row iconos" style="">
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col">
                        <i class="far fa-lightbulb" style="color: white; font-size: 115px"></i>
                    </div>
                </div>
                <div class="row titulo" style="margin-top: 3%;">
                    <div class="col animatable fadeInUp" style="margin-top: 3%;">
                        <span class="border2 " style="color: #FFFFFF;">Diagnostico Previo</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-1"></div>
                    <div class="col animatable fadeInUp"style="margin-top: 3%;">
                        <span class="border2 subtitulo" style="color: white;">Por medio de un Test simple y rápido</span>
                    </div>
                    <div class="col-lg-3 col-1"></div>
                </div>
            </div>

            <div class="col-lg-4 col-12 separa2">
                <div class="row">
                    <div class="col">
                        <i class="far fa-compass" style="color: white; font-size: 115px"></i>
                    </div>
                </div>
                <div class="row titulo" style="margin-top: 3%;">
                    <div class="col animatable fadeInUp" style="margin-top: 3%;">
                        <span class="border2" style="color: #FFFFFF;">Referencia</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-1"></div>
                    <div class="col animatable fadeInUp" style="margin-top: 3%;">
                        <span class="border2 subtitulo" style="color: white;">Con especialistas de la salud mental con experiencia en tratar la Depresión</span>
                    </div>
                    
                    <div class="col-lg-2 col-1"></div>
                </div>
            </div>

            <div class="col-lg-4 col-12 separa2">
                <div class="row">
                    <div class="col">
                        <i class="fas fa-arrow-circle-right" style="color: white; font-size: 115px"></i>
                    </div>
                </div>
                <div class="row titulo" style="margin-top: 3%;">
                    <div class="col animatable fadeInUp" style="margin-top: 3%;">
                        <span class="border2" style="color: #FFFFFF;">Opciones</span>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10%;">
                    <div class="col-lg-2 col-1"></div>
                    <div class="col animatable fadeInUp" style="margin-top: 3%;">
                        <span class="border2 subtitulo" style="color: white;">Acceso a tarifas prefenciales y  seguimiento a la evolución satisfactoria del tratamiento</span>
                    </div>
                    <div class="col-lg-2 col-1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax queesladep">
    <div class="row separador"></div>
      
        <div class="caption Black animatable fadeInUp">
        <h2>¿Qué es la Depresión?</h2>
            {# <span class=""style="font-weight: bold;">____</span> #}
            <hr style="width: 95px;height: 2px;background-color:black;">
        </div>
        <div class="row">
            <div class="col-lg-3 col-1"></div>
            <div class="col animatable fadeInUp">
                <span class="textDepresion" style="letter-spacing: 0px">La depresión es un trastorno mental frecuente, que se caracteriza por la presencia de tristeza, perdida de interes o placer, sentimientos de culpa o falta de autoestima, trastornos del sueño o del apetito, sensación de cansancio y falta de concentración.</span>
            </div>
            <div class="col-lg-3 col-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 col-1"></div>
            <div class="col animatable fadeInUp">
                <span class="textDepresion">La depresión puede llegar a hacerse crónica o recurrente y dificultar sensiblemente el desempeño en el trabajo o la escuela y la capacidad para afrontar la vida diaria. En su forma más grave, puede conducir al suicidio. Si es leve, se puede tratar sin necesidad de medicamentos, pero cuando tiene carácter moderado o grave se pueden necesitar medicamentos y psicoterapia profesional.  (Fuente: Organización Mundial de la Salud).</span>
            </div>
            <div class="col-lg-3 col-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 col-1"></div>
            <div class="col animatable fadeInUp">
                <span class="textDepresion">En México hasta el 10% de la población padece de esta enfermedad mental la cual es la más frecuente entre los trastornos psiquiátricos. Esta se puede presentar desde la infancia y adolescencia, entre los factores pueden ser la predisposición genética, cambios ambientales, estrés y obesidad.   Se prevé que para el año 2020 el trastorno depresivo será la primera causa de atención médica. (Fuente: Secretaría de Salud).</span>
            </div>
            <div class="col-lg-3 col-1"></div>
        </div>   
        <div class="row">
            <div class="col-lg-3 col-1"></div>
            <div class="col">
                <img style="max-width: 100%; object-fit: cover;" src="https://i.pinimg.com/736x/d2/fc/e0/d2fce0e082bbfbc255b2aa492c2266a2.jpg" alt="image">
            </div>
            <div class="col-lg-3 col-1"></div>
        </div>      
    </div>

        <div class="parallax nosotros">
        <div class="caption">
            <span class="border2">SCROLL DOWN</span>
        </div>
    </div>

    <div class="parallax images">
        
    </div>

    <div class="parallax contacto">
        <div class="caption">
            <span class="border2">SCROLL DOWN</span>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
        {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascript/landing.js"></script>
{% endblock %}